*, *::after, *::before{
    box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-image: url('/images/background.jpg');
  background-position: cover;
  background-position: center;
  background-size: cover;
  /* background-attachment: fixed; */
}

h1 {
  font-size: 4.5rem;
  padding: 1rem;
  margin: 1rem;
  color: whitesmoke;
  margin-top: 5rem;
  background-color: rgba(0, 0, 0, 0.7);
  animation: insert 1s linear 1 forwards;
  text-shadow: 0 0 8px rgb(197, 160, 91);
}

@@keyframes insert {
  0% {
    transform: translateX(-50%) scale(0.7);
    opacity: 0.3;
  }
  100% {
    transform: translateX(0%) scale(1%);
    opacity: 1;
  }
}

#mySlogan {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#homeInfo {
  justify-content: center;
  margin-top: 3rem;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  width: 50rem !important;
}

#homeInfo p {
  font-size: 2rem !important;
  color: whitesmoke;
  text-shadow: 0 0 2px rgb(197, 160, 91);
  align-self: center;
  justify-content: center;
}

nav {
  position: relative;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 1.5rem;
  background-color: rgba(0, 0, 0, 0.4);
}

nav ul {
  display: flex;
  margin: 0;
  padding: 0;
}

nav li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12rem;
  color: whitesmoke;
  /* padding: 1rem; */
  margin: 1rem;
  cursor: pointer;
}

footer div {
  position: absolute;
  box-sizing: border-box;
  overflow: hidden;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 1rem 0.5rem;
  text-align: center;
  font-size: 1rem;
  color: rgb(255, 255, 255);
  font-weight: 600;
  background-color: rgba(236, 81, 81, 0.3);
}

footer a {
  text-decoration: none;
  color: white;
}

footer a:hover {
  text-decoration: none;
  color: white;
}
